  * { border-radius:0px; }
  h2 { font-weight: bold;}
  .form-banner{
      background-image: url(../assets/img/bg-image.png);
      background-repeat: repeat-x; 
      text-align: center;
      color: #fff; 
     }